*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo{
    text-decoration: none;
    color: #fcfcfc;
    font-size: 24px;
    cursor: pointer;
}

.settings{
    margin-right: 10%;
    font-size: 16px;
}

.header{
    min-height: 40px;
    background-color: #232323;

    color: #fcfcfc;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1% 0 1% 2%;
}

.sidebar{
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    
    min-height: 100vh;
    min-width: 200px;

    padding: 3% 0 0 1%;

    /* background-color: rgb(220, 220, 220); */
    background-color: #232323;

    font-size: 18px;
    color: rgb(130, 130, 130);
}

.sidebar__item{
    cursor: pointer;

    transition: all .3s;
}

.sidebar__item:not(.sidebar__item--active):hover{
    /* text-decoration: underline; */
    color: rgb(100, 100, 100);
}

.sidebar__item + .sidebar__item{
    margin-top: 10%;
}

.sidebar__item--active{
    color: black;
}

.container{
    display: flex;

    max-width: 100vw;
}

.сontentSide{
    flex-basis: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: rgba(156, 74, 74, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #232323;
}