.timer__time-bar {
  font-size: 72px;

  display: flex;
  justify-content: center;

  margin-bottom: 2%;

  max-width: 350px;
  margin: 0 auto;

  position: relative;

  &::after{
    content: '<- click and edit';

    position: absolute;
    right: -20%;
    top: 25%;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);

    // transform: translateY(-50%);
  }
}
input[type="number"] {
  font-size: 72px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.timer__time-bar-hours,
.timer__time-bar-minutes,
.timer__time-bar-seconds {
  border: none;
  outline: none;

  max-width: 80px;
  width: 100%;
}

.timer__control {
  max-width: 250px;
  width: 100%;
  min-height: 40px;

  margin: 0 auto;

  position: relative;
}

.timer__start-stop,
.timer__reset {
  transition: all 0.2s;

  position: absolute;
}

.timer__start-stop {
  outline: none;
  border: none;
  border-radius: 5px;

  padding: 9px 20px;

  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.timer__start-stop.active:hover {
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.15);
}
.timer__start-stop.active {
  color: #000;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.timer__reset {
  width: 30px;
  height: 30px;

  background-color: transparent;

  fill: rgba(0, 0, 0, 0.2);

  transform: translateY(-50%) rotate(-65deg);

  left: 0;
  top: 50%;
}
.timer__reset.active {
  fill: #000;
  cursor: pointer;
}
